*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
backend-OTP/config/serviceAccountKey.json
backend-OTP/.env
app/google-services.json
node_modules/
backend-OTP/node_modules/

